* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
:root {
  --color: #ed143d;
}
::selection {
  background-color: #ed143d;
  color: #fff;
}
html::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-track {
  background-color: #000;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--color);
}
.special {
  text-align: center;
}
.special .heading {
  font-size: 40px;
  margin-bottom: 12px;
}
.special span {
  color: var(--color);
  font-weight: bold;
}
.btn {
  background: var(--color);
  color: #fff;
  border: 2px solid crimson;
  padding: 15px 35px;
  font-size: 22px;
  margin-top: 25px;
  border-radius: 50px;
  cursor: pointer;
  display: block;
}
.container {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Large */
@media (min-width: 991px) {
  .container {
    width: 950px;
  }
}
/* Small */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Home */
.home {
  height: 100vh;
  background: url(../img/banner.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}
nav .logo {
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  margin-top: 40px;
  font-weight: 700;
}
nav .logo span {
  color: var(--color);
}
.home nav .none {
  color: #f05;
  font-size: 30px;
  margin-top: 50px;
  cursor: pointer;
  display: none;
}
nav ul {
  display: flex;
  margin-top: 50px;
}
nav ul li:not(:last-child) {
  padding-right: 60px;
}
nav ul li a {
  color: #fff;
  font-weight: 500;
}
nav ul li a:hover {
  color: var(--color);
}
@media (max-width: 830px) {
  nav ul {
    display: none;
  }
  .home nav .none {
    display: block;
  }
}
.home .content {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 5%;
}
.content h1 {
  font-size: 30px;
  font-weight: 100;
}
.content h2 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.6;
  margin: 30px 0;
}
.content .span {
  font-size: 40px;
  font-weight: 100;
}
.content span b {
  color: var(--color);
}

.content .btn:hover {
  background: transparent;
}

@media (max-width: 600px) {
  .content span {
    font-size: 29px;
  }
}
@media (max-width: 600px) {
  .content h2 {
    font-size: 50px;
    margin-bottom: 10px;
  }
}
@media (max-width: 450px) {
  .home {
    background-position: left;
  }
  .content h1 {
    font-size: 26px;
  }
  .content h2 {
    font-size: 39px;
  }
  .content span {
    font-size: 24px;
  }
}
/* End Home */

/* Start About */
.about {
  margin: 80px 0;
}
.about .flex {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.about .flex .img {
  margin-right: 50px;
}
.about .flex .img img {
  width: 300px;
  border-radius: 10px;
}
.about .flex .content {
  text-align: left;
  margin-top: 40px;
}
.about .flex .content h1 {
  font-weight: bold;
}
.about .flex .content h1 span {
  color: var(--color);
}
.about .flex .content p {
  line-height: 1.5;
}
.about .flex .content .btn {
  display: inline-block;
  border-radius: 10px;
}
.about .flex .content .btn:hover {
  color: #000;
}
@media (max-width: 991px) {
  .about .flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about .flex .content {
    text-align: center;
  }
}
@media (max-width: 450px) {
  .about .flex {
    justify-content: flex-start;
  }
}
/* End About */

/* Start Services */
.services {
  background: #000;
}
.services .special {
  padding: 40px 0;
}
.services .special h1 {
  color: #fff;
}
.services .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.services .flex div {
  margin: 20px;
  background: #222;
  color: #fff;
  width: 300px;
  height: 220px;
  border-radius: 15px;
  padding: 10px 20px;
}
.services .flex div:last-child {
  margin-bottom: 60px;
}
.services .flex div:hover {
  background: var(--color);
}
.services .flex div:hover i {
  color: #fff;
}
.services .flex div i {
  color: var(--color);
  font-size: 45px;
  margin: 10px 0;
}
.services .flex div h2 {
  line-height: 2;
}
.services .flex div p {
  line-height: 1.5;
}
/* End Services */

/* Start My skills */
.skills {
  margin: 60px 0;
  width: 100%;
}
.skills .special {
  margin-bottom: 100px;
}
.skills .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;
}
.skills .flex .content {
  width: 50%;
  text-align: left;
}
.skills .flex .content > div {
  width: 100%;
}
.skills .flex .content > div h1 {
  font-weight: bold;
  font-size: 27px;
}
.skills .flex .content > div p {
  line-height: 1.8;
}
.skills .flex .content > div button {
  border-radius: 10px;
}
.skills .flex .content > div button:hover {
  color: #000;
}
.skills .flex .progress {
  margin-top: -10px;
}
.skills .flex .progress > div {
  margin-top: 30px;
}
.skills .flex .progress > div h2 {
  text-align: left;
}
.skills .flex .progress > div h2 span {
  float: right;
  color: #000;
}
.skills .flex .progress .light {
  background: #ccc;
  width: 450px;
  height: 6px;
}
.skills .flex .progress .light .color {
  background: var(--color);
  width: 320px;
  height: 6px;
}
@media (max-width: 1170px) {
  .skills .flex .progress .light {
    width: 300px;
  }
  .skills .flex .progress .light .color {
    width: 200px;
  }
}
@media (max-width: 991px) {
  .skills .flex .content > div h1 {
    font-size: 20px;
  }
  .skills .flex .progress .light {
    width: 295px;
  }
}
@media (max-width: 786px) {
  .skills .flex {
    justify-content: center;
  }
  .skills .flex .content {
    width: 100%;
  }
  .skills .flex .content > div h1 {
    font-size: 30px;
  }
  .skills .flex .progress {
    margin-top: 20px;
  }
  .skills .flex .progress .light {
    width: 500px;
  }
}
@media (max-width: 600px) {
  .skills .flex .content > div h1 {
    font-size: 18px;
  }
  .skills .flex .progress .light {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .skills .flex .content > div button {
    margin: 15px auto 0;
  }
  .skills .flex .content {
    text-align: center;
  }
}
/* End My skills */

/* Start team */
.team {
  background: #000;
}
.team .special {
  padding: 60px 0;
}
.team .special h1 {
  color: #fff;
}
.team .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.team .flex div {
  background: #222;
  width: 300px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  margin-bottom: 40px;
}
.team .flex div:hover {
  background: var(--color);
  transform: scale(1.2);
  cursor: pointer;
}
.team .flex > div h1,
.team .flex > div p {
  color: #fff;
}
.team .flex > div p {
  line-height: 1.6;
}
.team .flex div img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--color);
}
.team .flex div:hover img {
  border: 5px solid #fff;
}
.team .shaer {
  padding: 10px;
  display: block;
}
.team .dots,
.team .dot {
  background: var(--color);
  width: 35px;
  height: 15px;
  border-radius: 50px;
  margin: auto;
  border: 2px solid var(--color);
}
.team .dot {
  width: 20px;
  height: 15px;
  background: transparent;
  cursor: pointer;
}
.team .dot:hover {
  background: var(--color);
}
/* End team */

/* Start Contact */
.contact .special {
  padding: 60px 0;
}
.contact .flex {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.contact .flex .content {
  width: 50%;
}
.contact .flex .content h1 {
  font-weight: bold;
}
.contact .flex .content h1 span {
  color: var(--color);
}
.contact .flex .content .flex-icon {
  margin-top: 30px;
  display: block;
}
.contact .flex .content .flex-icon > div {
  margin: 20px 0;
}
.contact .flex .content p {
  line-height: 1.5;
}
.contact .flex .content i {
  margin-right: 10px;
  font-size: 28px;
  color: var(--color);
}
.contact .flex .content .info {
  display: inline-block;
}
.contact .flex .content .info h3 {
  margin: 10px 0;
}
.contact .flex .content .info a {
  color: var(--color);
}
.contact .flex .message {
  width: 50%;
}
.contact .flex .message input {
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px 0;
  width: 100%;
}
.contact .flex .message input[placeholder="Subject"] {
  width: 100%;
}
.contact .flex .message textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
}
.contact .flex .message button {
  border-radius: 10px;
}
.contact .flex .message button:hover {
  background-color: transparent;
  color: #000;
}
@media (max-width: 800px) {
  .contact .flex .content {
    width: 100%;
  }
  .contact .flex .message {
    margin-top: 30px;
    width: 100%;
  }
  .contact .flex .content .info {
    display: inline;
  }
}
/* End Contact */

/* Start Footer */
.footer {
  margin-top: 80px;
  background-color: #000;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
.footer span {
  color: var(--color);
  cursor: pointer;
  font-weight: bold;
}
@media (max-width: 450px) {
  .footer {
    font-size: 14px;
  }
}
/* End Footer */
